colorama==0.4.6
pyowm==3.3.0
timer4==1.0.4
PyQt6==6.4.0
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.0
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
timer4==1.0.4
tomlkit==0.11.6
tools==0.1.9
tzdata==2022.7
urllib3==1.26.14
whitenoise==6.3.0
wrapt==1.14.1